#barre_boutons{
	display: inline-block;
	float: left;
}

#slider {
	width: 30em;
	margin: 1em;
}
svg#playgraph{
	font-size: 10px;
	font-family: sans-serif;
	border: solid 1px;
}

svg#graduations{
	width: 527px;
	height: 50px;
	margin-top: -43px;
	margin-left: 17.6px;
	float: left;
	position: relative;
	/*border: solid 1px;*/
}

p{
//	font-weight: bold;
//	display: inline;
	margin: 3px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
/* code pour la solution avec ajout de classes CSS

// initialisation des noeuds, pour la solution
circle{
	fill: #1177bb;
}

// classes en fonction de l'état

// couleurs des lignes
.never_live{
	stroke-width: 0;
}
.not_yet_live{
	stroke: #eeeeee;
}
.live{
	stroke: #ff6600;
}
.previously_live{
	stroke: #1177bb;
}

// remplissage des noeuds

.fill_live{
	fill:  #ff6600;
}
.fill_previously_live{
	stroke: #1177bb;
}

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* stlyes pour rendre la page responsive */
@media (min-width: 1200px){
	#reseau{
		width: 700px;
		float: left;
	}
	#repliques{
		margin-top: 28px;
		width: 380px;
		margin-left: 720px;
	}
	#conteneurPrincipal{
		width: 1200px;
		margin: 0 auto;
}